<!DOCTYPE html>
<html>
	<head>
		<title>JBEngine</title>

		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./public/css/style.css">

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"/></script>

	</head>

	<body>
		<header>
			<h1>
				<span class="initials">JB</span><span class="engine">Engine</span>
			</h1>
		</header>

		<main>
			<form method="post" action="/results">
				<input id="input" type="text" name="search">
				<button id="searchButton">+</button>
			</form>

		</main>

		<script type="text/javascript" src="./public/js/history.js"></script>
	</body>
</html>
