<!DOCTYPE html>
<html>
	<head>
		<title>JBEngine</title>

		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./public/css/style.css">

	</head>

	<body>
		<header>
			<h1>
				<span class="initials">JB</span><span class="engine">Engine</span>
			</h1>
		</header>

		<main>
			<form method="post" action="/results">
				<input id="input" type="text" name="search">
				<button id="searchButton">+</button><br>
				<!---<input type="checkbox" id="geo" name="geo">Twitter: 100mi-->
			</form>

			<%- tryAgain %>

		</main>
	</body>
</html>
