<!DOCTYPE html>
<html>
	<head>
		<title>JBEngine</title>

		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./public/css/results_style.css">

	</head>

	<body>
		<header>
			<h1>
				<span class="initials">JB</span><span class="engine">Engine</span>
			</h1>

			<div class="form-input-box">
				<form method="post" action="results">
					<%- inputBox %>
					<button id="searchButton">+</button><br>
					<!---<input type="checkbox" id="geo" name="geo">Tweets w/n 100 miles.-->
				</form>
			</div>

		</header>

		<main>
			<div id="twitter-results" class="results-list">
				<%- twitterResults %>
			</div>

			<div id="wiki-results" class="results-list">
				<%- wikiResults %>
			</div>
		</main>
</html>