body {
	padding-top: 50px;
	width: 855px;
	margin: auto;
}

.wiki-results {
	border-radius: 20px;
}

header {
	margin-top: 50px;
	padding: 20px;
	overflow: auto;
	border-bottom: 2px solid black;
}

header h1 {
	text-align: center;
	float: center;
}

header .initials {
	color: blue;
}

header .engine {
	color: white;
	font-style: italic;
}

main {
	overflow: auto;
	margin-top: 50px;
	padding: 10px;
}

main input {
	margin-left: 50px;
	width: 80%;
	height: 40px;
	font-size: 1.2em;
	font-weight: bold;
}

main button {
	margin-left: 10px;
	padding: 10px;
	background: olivedrab;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 5px;
}

.try-again {
	text-align: center;
	margin-top: 40px;
}